::-webkit-scrollbar{
    display: none;
}

.list-container{
    width: 100%;
    margin: 4px;
    max-height: 80vh;
    overflow-y: scroll;
}

.todo-input-form{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 4px;
    align-items: center;
    
}

.todo-input-form input{
    padding: 4px;
    text-align: center;
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 3px;
    outline: none;
    width: 95%;
    box-shadow: 0 0 0 1px rgba(0 ,0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
}


.todo-input-form button{
    padding: 0.5rem;
    color:aqua;
    background-color: rgb(248, 112, 33);
    border: none;
    border-radius:  3px;
    outline: none;
    font-weight: bolder;
    cursor: pointer;
    width: 100px;
    box-shadow: 0 0 0 1px rgba(0 ,0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1)
}

.todo-input-form input:hover {
    background: rgba(0, 0, 0, 0.2);
    
}
.todo-input-form button:hover {
    background: rgba(255, 255, 255, 0.5);
    color: black;
}